<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="urlSelfHost" value="http://localhost:8080"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WorkflowEngineSOASoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WorkflowEngineSOASoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <!--<client>
      <endpoint address="http://172.16.20.36/BIM/WebServices/workflowEnginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="Service" />
    </client>-->
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name ="Access-Control-Allow-Origin" value="*"/>
        <add name ="Access-Control-Allow-Origin" value="GET,POST,OPTIONS,PUT,DELETE"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--<system.web>
    --><!--<membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientAuthenticationMembershipProvider,System.Web.Extention,"/>
      </providers>
    </membership>--><!--
    --><!--<roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Provider.ClientRoleProvider," /> 
      </providers>
    </roleManager>--><!--
  </system.web>-->
</configuration>